apiVersion: v1
kind: Secret
metadata:
  name: operator-oauth
  namespace: tailscale
stringData:
  client_id: "{{ .Env.BOOTSTRAP_TAILSCALE_OAUTH_CLIENT_ID }}"
  client_secret: "{{ .Env.BOOTSTRAP_TAILSCALE_OAUTH_CLIENT_SECRET }}"
